<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyperionics.fbreader.plugin.tts_plus"
          android:versionCode="1040020" android:versionName="1.4.2">
	<uses-sdk android:minSdkVersion="8"/>
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true"
                      android:anyDensity="true" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
	<application android:label="@string/title" android:icon="@drawable/fbreader_plugin" android:name=".TtsApp">
		<receiver android:name="com.hyperionics.fbreader.plugin.tts_plus.PluginInfo">
			<intent-filter>
				<action android:name="android.fbreader.action.plugin.REGISTER" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		</receiver>
		<activity android:name="com.hyperionics.fbreader.plugin.tts_plus.SpeakActivity"
                  android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.fbreader.action.plugin.RUN" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:host="hyperionics.com" android:scheme="http" android:path="/plugin/tts_plus/speak" />
			</intent-filter>
        </activity>
        <activity android:name="com.hyperionics.fbreader.plugin.tts_plus.SettingsActivity"
                  android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.Dialog">
        </activity>
        <service android:name=".SpeakService">
        </service>
        <receiver android:name="com.hyperionics.fbreader.plugin.tts_plus.MediaButtonIntentReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hyperionics.fbreader.plugin.tts_plus.BluetoothConnectReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".IncomingReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.hyperionics.fbreader.plugin.tts_plus.SVC_STARTED"></action>
                <action android:name="com.hyperionics.fbreader.plugin.tts_plus.TTSP_KILL"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>
