<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hyperionics.fbreader.plugin.tts_plus"
          android:versionCode="3040700"
          android:versionName="3.4.7">
    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="17" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <supports-screens
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:anyDensity="true" />
    <application android:label="@string/title" android:icon="@drawable/fbreader_plugin" android:name=".TtsApp">
        <activity android:name=".InfoActivity"
                  android:label="@string/title"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.Black.NoTitleBar"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

		<receiver android:name="com.hyperionics.fbreader.plugin.tts_plus.PluginInfo">
			<intent-filter>
				<action android:name="android.fbreader.action.plugin.REGISTER" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.INFO" />
			</intent-filter>
		</receiver>
		<activity android:name="com.hyperionics.fbreader.plugin.tts_plus.SpeakActivity"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|screenSize|keyboardHidden"
                 >
        </activity>
        <activity android:name=".CmdActivity"
                  android:theme="@style/NoAnimDialog"
                >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.hyperionics.fbreader.plugin.tts_plus.COPY_SPEECH_FILES" />
            </intent-filter>
        </activity>

        <activity android:name="com.hyperionics.fbreader.plugin.tts_plus.SettingsActivity"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="com.hyperionics.fbreader.plugin.tts_plus.StartupActivity"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.plugin.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="hyperionics.com" android:scheme="http" android:path="/plugin/tts_plus/speak" />
            </intent-filter>
        </activity>
        <service android:name=".SpeakService">
        </service>
        <receiver android:name="com.hyperionics.fbreader.plugin.tts_plus.MediaButtonIntentReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hyperionics.fbreader.plugin.tts_plus.BluetoothConnectReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".IncomingReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.hyperionics.fbreader.plugin.tts_plus.SVC_STARTED"></action>
                <action android:name="com.hyperionics.fbreader.plugin.tts_plus.TTSP_KILL"></action>
            </intent-filter>
        </receiver>

        <!-- activities from TtsSetup library project - somehow manifestmerger.enabled=true still does not work -->
        <activity android:name="com.hyperionics.TtsSetup.VoiceSelector"
                  android:theme="@android:style/Theme.Black"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                />
        <activity android:name="com.hyperionics.TtsSetup.AddVoice"
                  android:theme="@android:style/Theme.Black"
                />
        <activity android:name="com.hyperionics.TtsSetup.EditSpeech"
                  android:theme="@android:style/Theme.Black"
                />
        <activity android:name="com.hyperionics.TtsSetup.SimpleBrowser"/>

    </application>
</manifest>
